.blogItem{
    width: 80%;
    padding: 2rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 1rem auto;
    border-radius: 0.5rem;
    background-color: white;
}

.blogItem h2{
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 1.5rem;
}

.blogItem .details{
    display: flex;
    justify-content: space-between;
}

.blogItem .details h3{
    font-weight: 400;
    font-size: 1rem;
}

.blogItem .details h3 span{
    font-weight: 600;
}

.blogItem .description{
    margin: 1rem 0;
}

.blogItem .content{
    padding: 0.5rem;
    margin: 1rem 0;
    overflow-wrap: break-word;
}

.blogItem .content img{
    max-width: 95%;
    display: block;
    margin: 1rem auto;
}

@media screen and (max-width: 600px) {
    .blogItem{
        width: 95%;
    }

    .blogItem .details{
        display: flex;
        flex-direction: column;
    }
    
}