.blogs{
    width: 100%;
    margin: auto;
    padding: 2rem;
    gap: 1rem;
}

.tags{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem 2rem;
  gap: 0.5rem;
}

.tags span{
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border: 2px solid #0077CC; 
  border-radius: 1rem;
}

.active{
  background-color: rgb(43, 149, 206);
  border: none;
  outline: none;
  color: white;
}

@media screen and (max-width: 600px) {
    .blogs {
      width: 100%;
      padding: 0.5rem;
      gap: 1rem 0rem;
    }

    .tags{
      width: 100%;
      padding: 1rem;
    }
}