.blogItem{
    width: 80%;
    padding: 1rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 1rem auto;
    border-radius: 0.5rem;
}

.blogItem h3{
    margin: 1rem 0;
}

.blogItem img{
    width: 90%;
    margin: auto;
}

.blogItem .content{
    padding: 0.5rem;
}