.blogs {
  width: 100%;
  margin: auto;
  padding: 2rem;
  gap: 1rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

.search {
  margin: auto;
  margin-top: 2rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  gap: 1rem;
}

.search input {
  padding: 0.5rem 1rem;
  width: 80%;
  border-radius: 0.6rem;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid grey;
}

.search button {
  padding: 0.5rem 1rem;
  width: 20%;
  border-radius: 0.6rem;
  border: none;
  outline: none;
  background-color: #1292ee;
  color: white;
  font-size: 1rem;
}

.search button:hover {
  background-color: #0077cc;
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
  background-color: whitesmoke;
}

.tags span {
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border: 2px solid #0080dc;
  border-radius: 0.7rem;
}

.active {
  background-color: rgb(43, 149, 206);
  border: none;
  outline: none;
  color: white;
}

@media screen and (max-width: 600px) {
  .blogs {
    width: 100%;
    padding: 0.5rem;
    gap: 1rem 0rem;
  }

  .tags {
    width: 90%;
    padding: 1rem;
  }

  .search {
    width: 90%;
    padding: 1rem 0;
  }

  .tags span {
    padding: 0.5rem 0.7rem;
    font-weight: 0.7rem;
  }

  .search input{
    width: 70%;
  }

  .search button{
    width: 30%;
  }
}
