.blogs{
    width: 100%;
    margin: auto;
    background-color: rgb(209, 205, 205);
    padding: 2rem;
    gap: 1rem;
}

@media screen and (max-width: 600px) {
    .blogs {
      width: 100%;
    }
}