
.intro{
    display: flex;
    gap: 1rem;
    padding: 2rem;
    background-color: white;
}

.intro .left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.intro .left img{
    width: 100%;
}

.intro .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 1rem;
}

.right h2{
    font-weight: 600;
    font-size: 1.8rem;
    color: #1292ee;
    margin:2rem 0rem;
}

.right h3{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.right p{
    font-weight: 400;
    font-size: 1.1rem;
}

.jobs{
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    width: 90%;
}

/* job styling */
.job{
    padding: 1rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25rem;
    height: 18rem;
    background-color: white;
}

.job .top{
    display: flex;
    gap: 1rem;
    height: 50%;
}

.top .logo{
    width: 20%;
}

.top .logo img{
    width: 100%;
}

.description{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.description h2{
    margin: 0.3rem 0;
    font-weight: 600;
    font-size: 1.1rem;
}

.description h4{
    margin: 0.2rem 0;
    font-weight: 400;
    font-size: 0.9rem;
}

.job .bottom{
    height: 50%;
}

.bottom .deadline{
    width: 70%;
} 

.bottom .deadline h3{
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.apply button a{
    color: white;
}

.apply button{
    width: 100%;
    padding:0.6rem 2rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    background-color: #1292ee;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
}

@media screen and (max-width: 1200px) {
    .job .bottom{
        flex-direction: column;
    }

    .job .bottom .deadline{
        width: 100%;
    } 

    .job .apply{
        width: 100%;
        display: flex;
    } 

    .job .apply button{
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .intro{
        padding: 1rem 2rem;
        flex-direction: column;
    }

    .intro .left{
        width: 100%;
    }

    .intro .right{
        width: 100%;
    }

    .job{
        margin: auto;
        width: 98%;
        max-width: 100%;
    }

    .job .top{
        gap: 2rem;
    }

    .job .top .logo{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .job .top .logo img{
        width: 80%;
    }

    .job .top .description{
        width: 70%;
        align-items:start;
        justify-content: center;
    }

    .job .bottom{
        flex-direction: column;
    }

    .job .bottom .deadline{
        width: 100%;
    } 

    .job .apply{
        width: 100%;
        display: flex;
    } 

    .job .apply button{
        width: 100%;
    }
}


