
.main_content{
    background-color: white;
    /* background-image: url('https://images.pexels.com/photos/1025469/pexels-photo-1025469.jpeg?auto=compress&cs=tinysrgb&w=600'); */
    width: 100%;
    margin: auto;
    /* min-height: 40rem */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* background-attachment: fixed; */
    /* background-size: 100% 100%; */

    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}


.main_content .left{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.main_content .left h2{
    margin: 2rem 0;
    font-weight: 500;
    color: #0077CC;
}

.main_content .left p{
    font-weight: 400;
    font-size: 1.1rem;
}

.main_content .right{
    display: flex;
    width: 50%;
}

.main_content .right img{
    width: 100%;
}


@media screen and (max-width: 600px) {
    .main_content{
        flex-direction: column;
        padding: 1rem 2rem;
    }

    .main_content .left{
        width: 100%;
    }
    .main_content .right{
        width: 100%;
    }
}

