
.home_image{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0ch;
    min-height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}


.main_content{
    font-size: 1.2rem;
    width: 50%;
    border: 1px solid turquoise;
    padding: 2rem;
    border-radius: 0.5rem;
    color: white;
}

.main_content{
    width: 90%;
}
