.logo h2{
    font-weight: 600;
    color:blue;
}

.logo h2 i{
    color: black;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background-color: whitesmoke;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.navbar .nav{
    display: flex;
    align-items: center;
}

.navbar .nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
}

.navbar .nav ul li{
    padding: 0.5rem 0;
    font-size: 1.1rem;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: black;
}

/* @media screen and (max-width: 600px) {
    a{
        display: none;
    }
} */
