.logo h2{
    font-weight: 600;
    color:black;
}

.logo h2 i{
    color: #0077CC;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background-color: whitesmoke;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 80;
}

.navbar .nav{
    display: flex;
    align-items: center;
}

.navbar .nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
}

.navbar .nav ul li{
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: 600;
}

.navbar .nav ul li a i{
    margin: 0 0.2rem;
}

a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 600px) {
    .navbar{
        padding: 1rem;
    }
    
    .logo h2{
        font-weight: 600;
        font-size: 1rem;
    }

    .navbar .nav ul li{
        font-size: 0.8rem;
    }

    .navbar .nav ul{
        gap: 0.5rem;
    }
}
