.main{
    width:100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 30%;
    padding: 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 0.5rem;
}

.form input{
    padding: 0.5rem;
    margin: 0.5rem 0;
    outline: none;
    border: 1px solid grey;
}

.form h2{
    text-align: center;
    margin-bottom: 2rem;
}

.form button{
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 0.5rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(73, 112, 195);
    color: white;
    font-size: 1rem;
}

.form span{
    margin: 0.5rem 0;
}

.form hr{
    margin: 1rem 0;
}

.form .google img{
    height: 1rem;
    width: 1rem;
}

.form a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 600px) {
    .form{
        width: 90%;
    }
}

