.blogItem{
    width: 80%;
    padding: 1rem 2rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 0.5rem;
    background-color: white;
    overflow-wrap: break-word;
    position: relative;
    margin: 1rem auto;
}

.blogItem h2{
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
}

.blogItem .details{
    display: flex;
    justify-content: space-between;
}

.blogItem .details h3{
    font-weight: 400;
    font-size: 1rem;
}

.blogItem .details h3 span{
    font-weight: 600;
}

.blogItem .description{
    margin: 1rem 0;
}

.blogItem .content{
    padding: 0.5rem;
    margin: 1rem 0;
}

.blogItem .content{
    overflow-wrap: break-word;
    hyphens: manual;
}

.blogItem .content img{
    max-width: 95%;
    display: block;
    margin: 1rem auto;
}

.blogItem .content a{
    color: blue;
}

.blogItem .options{
    position: absolute;
    top: 1rem;
    right: 1.2rem;
    display: flex;
    gap: 0.5rem;
}

.blogItem .options i{
    color: white;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #0077CC;;
}

.like{
    font-weight: 500;
    font-size: 1.1rem;
}

.like i{
    color: #0077CC;
}

@media screen and (max-width: 600px) {
    .blogItem{
        width: 95%;
    }

    .blogItem h2{
        font-size: 1.2rem;
    }

    .blogItem .details{
        font-size: 0.9rem;
        display: flex;
        flex-direction: column;
    }

    .blogItem .details h3{
        margin: 0.2rem 0;
    }

    .blogItem .content{
        font-size: 1rem;
    }

    .blogItem title{
        font-size: 1rem;
    }
    
}