
.loginIssue{
    width: 50%;
    margin: 2rem auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 0.5rem;
    padding: 2rem;
}

.loginIssue h2,h3{
    margin: 1rem 0;
    font-weight: 600;
}


.loginIssue button{
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    border-radius: 0.2rem;
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0;
}


.main{
    width: 90%;
    margin: 2rem auto;
    padding: 1rem;
}

.main form{
    width: 100%;
    display: flex;
    gap: 1rem;
}

.write{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.write .editor{
    z-index: 1;
}

.postDetails{
    width: 20%;
}

.write .title{
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
}

.title input{
    padding: 0.5rem;
}

.postDetails{
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
}

.postDetails button{
    padding: 0.5rem;
    border: none;
    outline: none;
    background-color: rgb(43, 149, 206);
    color: white;
    border-radius: 0.2rem;
}

.postDetails select{
    padding: 0.5rem;
    outline: none;
}

.postDetails a{
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    form{
        display: flex;
        flex-direction: column;
    }

    .write{
        width: 100%;
    }

    .postDetails{
        width: 100%;
    }

    .loginIssue{
        width: 90%;
    }
}