.add_job{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 1rem auto;
}

.add_job h2{
    text-align: center;
    margin: 0.5rem 0;
    margin-bottom: 2rem;
    color: #1292ee;
}

.add_job input{
    display: block;
    width: 100%;
    background-color: transparent;
    border:1px solid grey;
    border-radius: 0.2rem;
    outline: none;
    margin-bottom: 0.5rem;
}

.add_job label{
    display: block;
}

.add_job button{
    margin: 0rem auto;
    width: 50%;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 0.5rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    background-color: #1292EE;
    color: white;
    font-size: 1rem;
}


@media screen and (max-width: 600px) {
    .add_job{
        width: 90%;
    }

    .add_job button{
        width: 100%;
    }
}
